.body {
    background-color: #2A2C2F;
    margin: 0;
    padding: 0;
  }
  
  @font-face {
    src: url(/text_Inter/Inter\ Web/Inter-Regular.woff2) format('woff2'),
      url(/text_Inter/Inter\ Web/Inter-Regular.woff) format('woff');
    font-family: 'Inter Regular';
  }
  
  @font-face {
    src: url(/text_Inter/Inter\ Web/Inter-Bold.woff2) format('woff2'),
      url(/text_Inter/Inter\ Web/Inter-Bold.woff) format('woff');
    font-family: 'Inter Bold';
  }
  
  @font-face {
    src: url(/text_Inter/Inter\ Web/Inter-Black.woff2) format('woff2'),
      url(/text_Inter/Inter\ Web/Inter-Black.woff) format('woff');
    font-family: 'Inter Black';
  }