.intro__subtitle {
    font-family: 'Inter Regular', Arial, sans-serif;
    margin: 0;
    margin-bottom: 33px;
    padding: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
  }

  @media screen and (max-width: 350px) {
    .intro__subtitle {
      margin-bottom: 34px;
      font-size: 16px;
      line-height: 26px;
    }
  }