.cover__subtitle {
    text-align: center;
    font-family: 'Inter', Arial, sans-serif;
    min-height: 66px;
    max-width: 360px;
    margin: 0;
    padding: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
  }

  @media screen and (max-width: 580px) {
    .cover__subtitle {
      min-height: 48px;
      max-width: 288px;
      font-size: 14px;
      line-height: 16px;
    }
  }