.footer__links {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    gap: 18px;
  }

  @media screen and (max-width: 750px) {
    .footer__links {
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: column;
      gap: 32px;
    }
  }