.place__paragraph {
  font-family: 'Inter', Arial, sans-serif;
  margin: 0;
  margin-bottom: 26px;
  padding: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 29px;
}

.place__paragraph:last-child {
  margin-bottom: 0;
}

@media screen and (max-width: 800px) {
  .place__paragraph {
    margin-bottom: 25px;
    font-size: 16px;
    line-height: 26px;
  }
}

@media screen and (max-width: 660px) {
  .place__paragraph {
    margin-left: 16px;
    margin-right: 16px;
  }
}