.lead__image {
    object-fit: contain;
    margin: 0;
    padding: 0;
    margin-bottom: 8px;
    width: 984px;
    max-width: 100%;
  }

  @media screen and (max-width: 1024px) {
    .lead__image {
      width: 928px;
      max-width: 100%;
    }
  }

  @media screen and (max-width: 768px) {
    .lead__image {
      width: 768px;
      max-width: 100%;
    }
  }

  @media screen and (max-width: 320px) {
    .lead__image {
      width: 320px;
      max-width: 100%;
    }
  }