.cover {
    position: relative;
    display: flex;
    justify-content: center;
    min-height: 740px;
    max-width: 1184px;
    margin: 0 48px;
    margin-bottom: 92px;
    padding: 0;
    background-image: url(../../images/cover-trains.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  
  .cover::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #2A2C2F;
    opacity: 0.3;
    z-index: 1;
  }
  
  .cover:hover::before {
    opacity: 0.8;
  }

  @media screen and (max-width: 1024px) {
    .cover {
      min-height: 640px;
      max-width: 1024px;
      margin: 0 auto;
      margin-bottom: 92px;
    }
  }

  @media screen and (max-width: 768px) {
    .cover {
      min-height: 480px;
      max-width: 768px;
      margin: 0 auto;
      margin-bottom: 88px;
    }
  }

  @media screen and (max-width: 320px) {
    .cover {
      min-height: 200px;
      max-width: 320px;
      margin: 0 auto;
      margin-bottom: 64px;
    }
  }